@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
html, body{
  height: 100%;
  width:100% ;
  overflow-x: hidden;
}
:root{
  --color:rgb(3, 3, 32);
}